mixin main__why-us()
	+b.main__why-us&attributes(attributes)
		block
		+block-title('Почему мы ?')
		.advtgs.site-width#advtgs
			img(src='images/1234.png').advtgs__img
			mixin advtgs__item(number, advtitle, advtext)
				.advtgs__item(class= number)
					.advtgs__item-title= advtitle
					.advtgs__item-text= advtext					
			+advtgs__item('advtgs1', 'Комплексный подход', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке')
			+advtgs__item('advtgs2', 'Профессионализм', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке')
			+advtgs__item('advtgs3', 'Соблюдение законодательства', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке')
			+advtgs__item('advtgs4', 'Срочный приезд за 15 минут', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке')
