.main__why-us
	padding 40px 0
	display block
	background url('../../images/main__why-us-bg-sm.png') repeat

.advtgs
	margin auto

.advtgs__item
	position relative
	margin 52px 0

.advtgs__item-title
	margin-bottom 10px
	font-size 24px
	font-weight 600
	color $colorBlack

.advtgs__item-text
	font-size 18px
	color $colorBlack

.main__why-us .footer__text-title-txt:before
	margin-right 220px
.main__why-us .footer__text-title-txt:after
	margin-left 220px

.advtgs__img
	float left

.advtgs1
	left -80px
.advtgs2
	left 50px
.advtgs3
	left -80px
.advtgs4
	left 50px
