mixin main__why-us()
	+b.main__why-us&attributes(attributes)
		block
		+block-title('Почему мы ?')
		.advtgs.site-width#advtgs
			mixin advtgs__item(number, numberClass, advtitle, advtext)
				.advtgs__item(class= numberClass)
					.advtgs__item-number-container
						.advtgs__item-number= number
					.advtgs__item-content
						.advtgs__item-title= advtitle
						.advtgs__item-text= advtext					
			+advtgs__item('1', 'advtgs1', 'Комплексный подход', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке')
			+advtgs__item('2', 'advtgs2', 'Профессионализм', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке')
			+advtgs__item('3', 'advtgs3', 'Соблюдение законодательства', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке')
			+advtgs__item('4', 'advtgs4', 'Срочный приезд за 15 минут', 'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке')
	script(src='js/main__why-us.js')
