.any-questions
	padding 25px 0
	display block
	text-align center
	background url('../../images/any-questions.png') no-repeat
	background-size cover


.any-questions_txt
	padding-bottom 20px
	font-family Roboto, sans-serif
	font-size 24px
	font-weight bold
	text-align center
	text-transform uppercase
	color #fff

.any-questions__call
	padding 12px 29px
	display inline-block
	font-size 18px
	font-weight 600
	color #fff
	background-color $colorGreen
	border 2px solid $colorGreen
	border-radius 10px
	transition .2s ease

.any-questions__call:hover
	color $colorGreen
	background-color #fff

/* Модальное окно */
.page
	.modal-content
		border 2px solid $colorGreen

.modal-body
	.contact-us__form-input,
	.contact-us__form-textarea
		border 1px solid $colorGreen
	.contact-us__form-button
		margin 25px 0

.modal-content
	.modal-header
		padding-top 20px
		border-bottom-color transparent
	.modal-title
		width 100%
		font-weight 600
		color $colorGreen
		text-transform uppercase

.modal-header .close
		position absolute
		right 20px


/* /Модальное окно */
