/* Главное меню */
.menu-main
	position relative
	display block
	text-align center

.menu-main__items
	display inline-block
	width 100%
	max-width 800px
	text-align justify
	justifyAlign()

.menu-main__item
	display inline-block
	cursor pointer
	border 2px solid transparent
	border-radius 10px
	transition .2s ease

.menu-main__item:hover,
.menu-main__item.active
	border-color $colorGreen

.menu-main__item-a
	padding 8px 10px
	display block
	font-size 18px
	font-weight 600
	text-decoration none
	color #fff
	text-transform uppercase
	transition .2s ease

.menu-main__item:hover .menu-main__item-a,
.menu-main__item.active .menu-main__item-a
	text-decoration none
	color $colorGreen

/* Меню в футере */
.footer
	.menu-main__items
		margin-bottom 0
	.menu-main
		padding 0 10px

.footer__separator
	margin-top 0

/* /Меню в футере */

/* Главное меню - мобильное */
@media screen and (max-width 780px)
	.menu-main__items
		position absolute
		top 0
		left -1000px
		margin-top 50px
		overflow hidden
		background-color #3a1d07
		border 2px solid $colorGreen
		border-radius 10px
		opacity 0
		transition .3s ease

	.menu-main__items.show
		z-index 10
		left 0
		opacity 1

	.menu-main__items:after
		display none

	.menu-main__item
		width 100%

	.menu-main__item.active
		background-color $colorGreen
		border-radius 0

	.menu-main__item.active .menu-main__item-a
		color #fff

	.footer
		.menu-main__items
			position relative
			left 0
			margin-top 0
			margin-bottom 0
			background-color transparent
			border none
			border-radius 0
			opacity 1

	/* Кнопка */
	.mobile-btn
		position absolute
		right 0
		overflow hidden
		width 40px
		height 40px
		cursor pointer
		border 2px solid
		border-radius 5px

	.mobile-btn__stroke
		position absolute
		width calc(100% - 4px)
		height 1px
		border 1px solid
		transition transform .2s ease

	.mobile-btn__stroke-center
		top 50%
		left 50%
		transform translate(-50%, -50%)

	.mobile-btn__stroke-top
		top 7px
		left 50%
		transform translateX(-50%)

	.mobile-btn__stroke-btm
		left 50%
		bottom 7px
		transform translateX(-50%)

	.active .mobile-btn__stroke-top
		top 50%
		transform translate(-50%, -50%) rotate(-45deg)
	.active .mobile-btn__stroke-center
		transform translate(-50%, -50%) rotate(-135deg)
	.active .mobile-btn__stroke-btm
		transform translateX(100%)

	.footer
		.mobile-btn
			display none
		.menu-main
			padding 0
		.menu-main__items
			margin-bottom 0

	.footer__separator
		margin-top 10px
/* /Главное меню - мобильное */

/* /Главное меню */
