mixin menu-main()
	// Главное меню
	+b.menu-main&attributes(attributes)
		block
		// Кнопка мобильного меню
		.mobile-btn
			.mobile-btn__stroke.mobile-btn__stroke-top
			.mobile-btn__stroke.mobile-btn__stroke-center
			.mobile-btn__stroke.mobile-btn__stroke-btm
		// /Кнопка мобильного меню 
		
		ul.menu-main__items
			li.menu-main__item
				a.menu-main__item-a(href='/main.html') Главная
			li.menu-main__item 
				a.menu-main__item-a(href='/uslugi.html') Услуги
			li.menu-main__item 
				a.menu-main__item-a(href='/prices.html') Цены
			li.menu-main__item 
				a.menu-main__item-a(href='/info.html') Полезная информация
			li.menu-main__item 
				a.menu-main__item-a(href='/contacts.html') Контакты
	// /Главное меню
