.header-main
	display block

.header__text-line1
	margin-top 20px
	margin-bottom 10px
	font-size 30px
	font-weight 600
	text-transform uppercase

.header__text-line2
	font-size 23px
	text-transform uppercase

.header__text-line3
	margin-y(25px)
	font-size 30px
	font-weight 600
	color $colorGreen
