.main__prices
	padding 40px 0
	display block

.prices-card-container
	margin auto
	display flex
	justify-content space-between
	flex-wrap wrap

.main__prices .footer__text-title-txt:before
	margin-right 120px

.main__prices .footer__text-title-txt:after
	margin-left 120px

/* Карточка с ценой */
.prices-card
	width 230px
	height 250px
	text-align center
	border 2px solid
	border-radius 10px

.prices-card__title
	padding 15px
	font-size 14px
	line-height 18px
	color #565656
	text-transform uppercase

.prices-card__img
	margin-top -15px
	margin-bottom 5px

.prices-card__price
	margin 3px 0 -3px
	font-size 24px
	font-weight 600

.prices-card__more
	position relative
	margin-top 15px

.prices-card__more-wrap
	margin auto
	width 150px
	background-color #fff

.prices-card__more-btn
	padding 8px 17px
	font-size 18px
	text-decoration none
	color #000
	border 2px solid #17eeb4
	border-radius 10px
	transition .2s ease

.prices-card__more-btn:hover
	font-weight 600
	text-decoration none
	color #fff
	background-color #17eeb4

/* /Карточка с ценой */

/* Адаптация */
@media screen and (max-width 960px)
	.prices-card-container
		justify-content space-around
	.prices-card
		margin 25px 0
/* /Адаптация */
