.contacts-content
	padding 25px 10px 50px
	overflow hidden
	background url('../../images/main__why-us-bg-sm.png')

.contacts-content-wrap
	margin auto
	display flex
	flex-wrap wrap

.contacts__text
	flex 2 2 0
	padding-left 20px

.contacts__text-title
	position relative
	margin-bottom 15px
	font-size 24px
	font-weight 600
	color #252525
	text-transform uppercase

.contacts__text-title:before
	position absolute
	top 50%
	left 0
	width 1100px
	height 1px
	content ''
	background-color #dadada
	border 1px solid #dadada
	transform translateY(-50%)

.contacts-content .contacts__text-title:before
	margin-left 160px

.contacts__text-address-block
	padding 20px
	flex 1 1 100px
	height calc(100% - 43px)
	background-color #fff

.contacts__text-address-block-address
	margin-bottom 10px

.contacts__text-address-block-address-title
	margin-right 7px
	float left
	font-size 18px
	color #959595

.contacts__text-address-block-address-text
	font-size 18px
	color #1b1b1b

.contacts__text-address-block-text
	margin-top 20px
	font-size 14px
	color #b1b1b1

.contacts__map iframe
	height 100%

/* Адаптация */
@media screen and (max-width 900px)
	.contacts-content-wrap
		flex-direction column
	.contacts__text
		margin-bottom 30px
		padding-left 0
	.contacts__map
		order 2
		iframe
			width 100%
			height 320px

/* /Адаптация */
