mixin menu-services()
	+b.menu-services.site-width&attributes(attributes)
		block
		// Список табов 
		#menu-services__tabs.menu-services__tabs
			a.menu-services__tab.active(href='#') Вскрытие дверей
			a.menu-services__tab(href='#') Вскрытие автомобилей
			a.menu-services__tab(href='#') Вскрытие сейфов
			a.menu-services__tab(href='#') Замена и ремонт замков
		// /Список табов 		
		// Содержимое табов
		.menu-services__tabs-content.show
			a.menu-services__tab-content.active(href='#') Квартир
			a.menu-services__tab-content(href='#') Офисов и складов
			a.menu-services__tab-content(href='#') Коттеджей и гаражей			
		.menu-services__tabs-content
			a.menu-services__tab-content.active(href='#') Замков автомобилей
			a.menu-services__tab-content(href='#') Багажников и капотов
			a.menu-services__tab-content(href='#') Зарядка АКБ			
		.menu-services__tabs-content
			a.menu-services__tab-content.active(href='#') Квартиры
			a.menu-services__tab-content(href='#') Офисы и склады
			a.menu-services__tab-content(href='#') Коттеджи и гаражи			
		.menu-services__tabs-content
			a.menu-services__tab-content.active(href='#') Ремонт сейфов
			a.menu-services__tab-content(href='#') Изготовление ключей
			a.menu-services__tab-content(href='#') Замена сейфовых замков
		// /Содержимое табов
