mixin menu-services()
	+b.menu-services.site-width&attributes(attributes)
		block
		// Список табов 
		#menu-services__tabs.menu-services__tabs
			a.menu-services__tab.active(href='#') Вскрытие дверей
			a.menu-services__tab(href='#') Вскрытие автомобилей
			a.menu-services__tab(href='#') Вскрытие сейфов
			a.menu-services__tab(href='#') Замена и ремонт замков
		// /Список табов 		
		// Содержимое табов
		.menu-services__tabs-content.show
			a.menu-services__tab-content.active(href='#') Квартир
			a.menu-services__tab-content(href='#') Офисов и складов
			a.menu-services__tab-content(href='#') Коттеджей и гаражей			
		.menu-services__tabs-content
			a.menu-services__tab-content.active(href='#') Замков автомобилей
			a.menu-services__tab-content(href='#') Багажников и капотов
			a.menu-services__tab-content(href='#') Зарядка АКБ			
		.menu-services__tabs-content
			a.menu-services__tab-content.active(href='#') Квартиры
			a.menu-services__tab-content(href='#') Офисы и склады
			a.menu-services__tab-content(href='#') Коттеджи и гаражи			
		.menu-services__tabs-content
			a.menu-services__tab-content.active(href='#') Ремонт сейфов
			a.menu-services__tab-content(href='#') Изготовление ключей
			a.menu-services__tab-content(href='#') Замена сейфовых замков
		// /Содержимое табов
		// Мобильная версия
		.menu-services-mobile
			.menu-services-mobile__item
				#accordion(role="tablist")
					.card
						#headingOne.card-header.services-mobile__title-wrap(role="tab")
							h5.mb-0
								a.services-mobile__title(data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne") Вскрытие дверей
						#collapseOne.services-mobile__content.collapse.show(role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion")
							.card-body
								a(href='#').card-body__item Квартир
								a(href='#').card-body__item Офисов и складов
								a(href='#').card-body__item Коттеджей и гаражей
									
					.card
						#headingTwo.card-header.services-mobile__title-wrap(role="tab")
							h5.mb-0
								a.services-mobile__title.collapsed(data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo") Вскрытие автомобилей
						#collapseTwo.services-mobile__content.collapse(role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion")
							.card-body
								a(href='#').card-body__item Квартир
								a(href='#').card-body__item Офисов и складов
								a(href='#').card-body__item Коттеджей и гаражей
					.card
						#headingThree.card-header.services-mobile__title-wrap(role="tab")
							h5.mb-0
								a.services-mobile__title.collapsed(data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree") Вскрытие сейфов
						#collapseThree.services-mobile__content.collapse(role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion")
							.card-body
								a(href='#').card-body__item Квартир
								a(href='#').card-body__item Офисов и складов
								a(href='#').card-body__item Коттеджей и гаражей
					.card
						#headingFour.card-header.services-mobile__title-wrap(role="tab")
							h5.mb-0
								a.services-mobile__title.collapsed(data-toggle="collapse" href="#collapseFour" aria-expanded="true" aria-controls="collapseOne") Замена и ремонт замков
						#collapseFour.services-mobile__content.collapse(role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion")
							.card-body
								a(href='#').card-body__item Квартир
								a(href='#').card-body__item Офисов и складов
								a(href='#').card-body__item Коттеджей и гаражей			
		// /Мобильная версия
