.menu-services
	margin auto
	margin-top 25px
	display block

/* Табы */
.menu-services__tabs
	display flex
	justify-content space-between

.menu-services__tab
	padding 11px 10px
	display flex
	cursor pointer
	justify-content center
	background-color $colorTab
	border-radius 10px 10px 0 0
	align-items center
	width calc(25% - 3px)
	font 600 20px Roboto

a.menu-services__tab
	text-decoration none
	color $colorBlack
	transition .2s ease

.menu-services__tab:hover,
.menu-services__tab.active
	background-color $colorGreen
/* /Табы */

/* Содержимое табов */
.menu-services__tabs-content
	display none
	height 70px
	background-color #202020
	border-radius 0 0 20px 20px
.menu-services__tabs-content.show
	display flex
	justify-content space-around
	align-items center
.menu-services__tabs-content.hide
	display none

.menu-services__tab-content
	padding 25px 0
	font-size 20px
	font-weight 600
	text-decoration none
	cursor pointer
	color #e4e4e4
	text-transform uppercase
	transition .2s ease

.menu-services__tab-content:hover,
.menu-services__tab-content.active
	color $colorGreen
/* /Содержимое табов */


/* Мобильная версия */
.menu-services-mobile__item
	.card
		margin 5px 0
		overflow hidden
		background-color transparent
		border 1px solid rgba(184, 39, 182, 0)
		border-radius 10px
	.card-body
		padding 10px
		background-color #202020
	h5
		cursor pointer

a.menu-services__tab:hover
	text-decoration none
	color $colorBlack

a.menu-services__tab-content:hover
	text-decoration none

a.services-mobile__title
	padding 11px 0
	display block
	font 600 20px Roboto
	color $colorBlack
	background-color #cdcdcd
	transition .2s ease

a.services-mobile__title:hover
	text-decoration none
	color $colorBlack
	background-color $colorGreen

.services-mobile__title-wrap.card-header
	padding 0
	border none

a.card-body__item
	padding 10px 0
	display block
	font-size 20px
	font-weight 600
	color #fff
	text-transform uppercase
	border-bottom 1px solid #cdcdcd
	transition .2s ease

a.card-body__item:last-child
	border-bottom none

a.card-body__item:hover
	text-decoration none
	color $colorGreen
/* /Мобильная версия */

/* Адаптиация */
.menu-services-mobile
	display none

@media screen and (max-width 650px)
	.menu-services-mobile
		display block

	.menu-services__tabs,
	.menu-services__tabs-content,
	.menu-services__tabs-content.show
		display none

/* /Адаптиация */
