extends /blocks/layout-default/layout-default
include /blocks/main__why-us/main__why-us
include /blocks/main__prices/main__prices

block head
	- var pageTitle = 'Vseotkroem Main Page';

block content
	include ../blocks/header-main/header-main
	//- .content
	//- 	+main__why-us()
	//- 	+main__prices()
	include ../blocks/footer-main/footer-main
