.btn-callmaster
	margin 30px 0
	display block

.btn-callmaster-button
	padding 10px 24px
	font-size 20px
	font-weight 600
	color #2d2d2d
	background-color #c2ff2f
	border 2px solid #c2ff2f
	border-radius 10px
	transition .2s ease

.btn-callmaster-button:focus
	outline none

.btn-callmaster-button:hover
	color #fff
	background-color $colorGreen
	border-color $colorGreen
