.btn-callmaster
	margin 30px 0 50px
	display block

.btn-callmaster-button
	padding 10px 24px
	font-size 20px
	font-weight 600
	color #2d2d2d
	background-color #c2ff2f
	border none
	border-radius 10px
