.contact-us
	display block
	background url('../../images/contact-us__bg.png') no-repeat
	background-size cover

.contact-us__container
	margin auto
	padding 30px 10px
	display block
	width 100%
	text-align right

.contact-us__form
	display inline-block
	width 100%
	max-width 310px
	text-align center

.contact-us__form-input,
.contact-us__form-textarea
	margin 5px 0
	width 100%
	font-size 14px
	font-style italic
	color #15c394
	border none
	border-radius 7px

.contact-us__form-input
	padding 15px
	height 46px

.contact-us__form-textarea
	padding 15px
	height 135px

.contact-us__form-button
	margin-top 10px
	width 141px
	height 46px
	font-size 18px
	color #fff
	background-color #0e8c85
	border none
	border-radius 5px

.contact-us__form-input::placeholder,
.contact-us__form-textarea::placeholder
	color rgba(#15c394, .6)

.contact-us__form-input::-webkit-input-placeholder,
.contact-us__form-textarea::-webkit-input-placeholder
  color rgba(#15c394, .6)
.contact-us__form-input::-moz-placeholder,
.contact-us__form-textarea::-moz-placeholder
  color rgba(#15c394, .6)
.contact-us__form-input:-ms-input-placeholder,
.contact-us__form-textarea:-ms-input-placeholder
  color rgba(#15c394, .6)
.contact-us__form-input:-moz-placeholder,
.contact-us__form-textarea:-moz-placeholder
	color rgba(#15c394, .6)
