include ../menu-main/menu-main
include ../menu-services/menu-services
include ../btn-callmaster/btn-callmaster
// Header
.header
	+menu-main
	img.header__logo-img(src='images/logo.png')
	block text
	+btn-callmaster
	+menu-services
// /Header
		
