/* Header */
.header
	padding-x(10px)
	padding-y(20px)
	display block
	text-align center
	color #fff
	background-image url('../../images/header-main__bg.png')
	background-size cover

.header__logo-img
	width 300px

/* /Header */
