.content-uslugi
	padding-bottom 40px
	.contacts__text
		padding-left 30px
	.contacts__text-title
		font-size 24px
	.contacts__text-title:before
		margin-left 260px
	.contacts__text-content
		font-size 18px
		line-height 24px
		color #252525

.content-uslugi__left
	text-align center

.content-uslugi__phone
	margin 10px 0 20px
	font-size 30px
	font-weight 600
	color #1b1b1b

.content-uslugi__btn
	margin auto
	padding 10px 0
	width 222px
	font-family tahoma, sans-serif
	font-size 18px
	font-weight 600
	color #fff
	background-color #303030
	border 2px solid #303030
	border-radius 10px
	transition .2s ease

.content-uslugi__btn:hover
	color #000
	background-color #fff

/* Адаптация */
@media screen and (max-width 590px)
	.contacts-content-wrap
		flex-direction column
	.contacts__map
		order 2
		margin-top 30px
	.content-uslugi .contacts__text
		padding-left 0

/* /Адаптация */
