.content-info
	padding 0 10px 60px
	overflow hidden
	background #000
	.footer__text-title-txt
		margin 40px 0
	.footer__text-title-container
		margin-bottom 0
		overflow visible
	.footer__text-title-txt:before
		margin-right 355px
	.footer__text-title-txt:after
		margin-left 355px

.bg-dotted
	background url('../../images/main__why-us-bg-sm.png')

.content-info__text
	margin auto
	padding-bottom 40px
	min-height 280px
	font-size 18px
	p:first-child
		margin-bottom 20px

.content-info__text-img
	margin-left 20px
	float right
	max-width 50%

.content-info__art-blocks
	display flex
	flex-flow row wrap
	justify-content space-between
	margin auto

.content-info__art-block
	padding 20px 40px 15px
	width 300px
	font-family Tahoma, sans-serif
	text-align left
	background-color #fff
	transition .2s ease

.content-info__art-block:hover
	box-shadow 0 3px 8px rgba(0, 0, 0, .2)

.content-info__art-block-title
	margin-bottom 10px
	font-size 16px
	font-weight 600

.content-info__art-block-img
	width 100%

.content-info__art-block-txt
	padding 15px 0
	font-size 16px
	line-height 18px

.content-info__art-block-readmore
	display block
	color $colorGreen
	transition .2s ease
.content-info__art-block-readmore:hover
	color $colorGreen

/* Адаптация */
@media screen and (max-width 950px)
	.content-info__art-blocks
		justify-content space-around
	.content-info__art-block
		margin 20px 0

/* /Адаптация */
