include ../footer__any-questions/any-questions
include ../footer__contact-us/contact-us
include ../menu-main/menu-main

// Footer 
.footer
	+any-questions
	block text
	+contact-us
	.footer__bottom
		+menu-main
		.footer__separator
		.footer__phone 8 (029) 123 45 67
		+btn-callmaster
// /Footer 
