include ../any-questions/any-questions
include ../contact-us/contact-us
include ../menu-main/menu-main

// Footer
+any-questions
block text
+contact-us
+menu-main
.footer__separator
.footer__phone 8 (029) 123 45 67
.button.button_main
// /Footer
